form label {
    color: white;
    font-size: 15px;
    height: 20px;
    font-family: sans-serif, 'lato';
    display: block;
}
form {
    width: 500px;
    height: auto; 
    background-color: #30305d;
    border-radius: 1%;
    border: 3px #428e91 solid; 
    margin: 0 auto;
    padding: 20px;   
}
form textarea, form select, input[type="text"], input[type="tel"], input[type="email"] {
    background-color: #102d45;
    width: 300px;
    height; 25px;
    border: 0px solid #fff;
    outline: none;
    resize: none;
    
}
form textarea:focus, form select:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="email"]:focus {
    background-color: #4e708c;
    border: 1px solid #fff;
}
form select {
    color: #fff;
}
form[type="checkbox"] {
    float: left;
}
from input[type="submit"] {
    padding: 10px, 20px;
    background-color: greenyellow;
    height: 40px;
    border: 1px solid yellow;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}