.box {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-color: aqua;
}
#box-width {
    background-color: red;
    transition: width 1s ease-in-out;
}
#box-width:hover {
    width: 400px;
}
#box-height {
    background-color: aqua;
    transition: height 1s linear;
}
#box-height:hover {
    height: 400px;
    background-color: pink;
}
#box-width-height {
    background-color: brown;
    transition: width 2s ease-out, height 2s ease-out, border 2s ease-out;
}
#box-width-height:hover {
    width: 400px;
    height: 400px;
    border: solid 5px black;
}
