#frame {
    width: 510px;
    height: 280px;
    margin: 0 auto;
    position: relative;
    top: 0;
    right 0;
    border: 5px solid transparent;
}
#frame:hover {
    animation: frameAnim 5s ease-out;
}
/*

#frame:hover:before {
    content:'';
    border: 5px solid transparent;
}
#frame:hover:after {
    content:'';
    border: 5px solid black;
*/
/*
}
#frame:hover:before, #frame:hover:after {
    transition-property: transform;
    transition: transform 5s;
    transform-origin: center;
*/
/*}*/
@keyframes frameAnim {
    0% {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    50% {
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
    100% {
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        border-left: 5px solid black;
        border-right: 5px solid black;
    }

}

#frame > #photo {
    width: 500px;
    height: 270px;
    background-image: url('../img/2-jezioro.jpg');
    background-size: contain;
    position: absolute;
    top: 5px;
    right: 5px;
}

#caption-frame {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

#caption-frame:hover {
    opacity: 0.9;
    transition: 0.7s ease-in;
}

#lake {
    color: white;
    background-color: black;
    font-family: serif;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
